 <section class="page-sidebar">
          <div class="page-side-bar-container">
            <ul class="page-side-bar-menu">
              <li class="page-side-bar-menu-item">
                <a href="/user" class="page-side-bar-menu-item-link page-side-bar-menu-item-link-hoverable">
                <span class="page-side-bar-menu-item-icon">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4" d="M19.17 2H17.27C15.09 2 13.94 3.15 13.94 5.33V7.23C13.94 9.41 15.09 10.56 17.27 10.56H19.17C21.35 10.56 22.5 9.41 22.5 7.23V5.33C22.5 3.15 21.35 2 19.17 2Z" fill="#667085"/>
                    <path opacity="0.4" d="M7.74 13.43H5.84C3.65 13.43 2.5 14.58 2.5 16.76V18.66C2.5 20.85 3.65 22 5.83 22H7.73C9.91 22 11.06 20.85 11.06 18.67V16.77C11.07 14.58 9.92 13.43 7.74 13.43Z" fill="#667085"/>
                    <path d="M6.79 10.58C9.1593 10.58 11.08 8.6593 11.08 6.29C11.08 3.9207 9.1593 2 6.79 2C4.4207 2 2.5 3.9207 2.5 6.29C2.5 8.6593 4.4207 10.58 6.79 10.58Z" fill="#667085"/>
                    <path d="M18.21 22C20.5793 22 22.5 20.0793 22.5 17.71C22.5 15.3407 20.5793 13.42 18.21 13.42C15.8407 13.42 13.92 15.3407 13.92 17.71C13.92 20.0793 15.8407 22 18.21 22Z" fill="#667085"/>
                    </svg>                                       
                </span>
                <span class="page-side-bar-menu-item-text">
                  Dashboard
                </span>
              </a>
              </li>
              <li class="page-side-bar-menu-item">
                <a href="recently-compared" class="page-side-bar-menu-item-link page-side-bar-menu-item-link-hoverable">
                <span class="page-side-bar-menu-item-icon">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4" d="M19.74 5.58H19.34L15.96 2.2C15.69 1.93 15.25 1.93 14.97 2.2C14.7 2.47 14.7 2.91 14.97 3.19L17.36 5.58H7.64L10.03 3.19C10.3 2.92 10.3 2.48 10.03 2.2C9.76 1.93 9.32 1.93 9.04 2.2L5.67 5.58H5.27C4.37 5.58 2.5 5.58 2.5 8.14C2.5 9.11 2.7 9.75 3.12 10.17C3.36 10.42 3.65 10.55 3.96 10.62C4.25 10.69 4.56 10.7 4.86 10.7H20.14C20.45 10.7 20.74 10.68 21.02 10.62C21.86 10.42 22.5 9.82 22.5 8.14C22.5 5.58 20.63 5.58 19.74 5.58Z" fill="#667085"/>
                    <path d="M20.15 10.7H4.86002C4.57002 10.7 4.25002 10.69 3.96002 10.61L5.22002 18.3C5.50002 20.02 6.25002 22 9.58002 22H15.19C18.56 22 19.16 20.31 19.52 18.42L21.03 10.61C20.75 10.68 20.45 10.7 20.15 10.7ZM12.5 18.5C10.16 18.5 8.25002 16.59 8.25002 14.25C8.25002 13.84 8.59002 13.5 9.00002 13.5C9.41002 13.5 9.75002 13.84 9.75002 14.25C9.75002 15.77 10.98 17 12.5 17C14.02 17 15.25 15.77 15.25 14.25C15.25 13.84 15.59 13.5 16 13.5C16.41 13.5 16.75 13.84 16.75 14.25C16.75 16.59 14.84 18.5 12.5 18.5Z" fill="#667085"/>
                    </svg>                                        
                </span>
                <span class="page-side-bar-menu-item-text">
                  My Compare 
                </span>
              </a>
              </li>
              <li class="page-side-bar-menu-item">
                <a href="/user/{{ user_id }}/edit" class="page-side-bar-menu-item-link page-side-bar-menu-item-link-hoverable">
                <span class="page-side-bar-menu-item-icon">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 12C15.2614 12 17.5 9.76142 17.5 7C17.5 4.23858 15.2614 2 12.5 2C9.73858 2 7.5 4.23858 7.5 7C7.5 9.76142 9.73858 12 12.5 12Z" fill="#667085"/>
                    <path opacity="0.4" d="M12.5 14.5C7.49 14.5 3.40997 17.86 3.40997 22C3.40997 22.28 3.62997 22.5 3.90997 22.5H21.09C21.37 22.5 21.59 22.28 21.59 22C21.59 17.86 17.51 14.5 12.5 14.5Z" fill="#667085"/>
                    <path d="M21.93 14.74C21.03 13.84 20.32 14.13 19.71 14.74L16.17 18.2801C16.03 18.4201 15.9 18.68 15.87 18.87L15.68 20.22C15.61 20.71 15.95 21.05 16.44 20.98L17.79 20.79C17.98 20.76 18.25 20.63 18.38 20.49L21.92 16.95C22.54 16.35 22.83 15.64 21.93 14.74Z" fill="#667085"/>
                    </svg>                                        
                </span>
                <span class="page-side-bar-menu-item-text">
                  Account Details
                </span>
              </a>
              </li>
              <li class="page-side-bar-menu-item">
                <a href="/user/password" class="page-side-bar-menu-item-link page-side-bar-menu-item-link-hoverable">
                <span class="page-side-bar-menu-item-icon">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.25 8V10.1C18.81 10.04 18.31 10.01 17.75 10V8C17.75 4.85 16.86 2.75 12.5 2.75C8.14 2.75 7.25 4.85 7.25 8V10C6.69 10.01 6.19 10.04 5.75 10.1V8C5.75 5.1 6.45 1.25 12.5 1.25C18.55 1.25 19.25 5.1 19.25 8Z" fill="#667085"/>
                    <path opacity="0.4" d="M22.5 15V17C22.5 21 21.5 22 17.5 22H7.5C3.5 22 2.5 21 2.5 17V15C2.5 11.66 3.2 10.41 5.75 10.1C6.19 10.04 6.69 10.01 7.25 10H17.75C18.31 10.01 18.81 10.04 19.25 10.1C21.8 10.41 22.5 11.66 22.5 15Z" fill="#667085"/>
                    <path d="M8.5 17C8.37 17 8.24 16.97 8.12 16.92C7.99 16.87 7.89001 16.8 7.79001 16.71C7.61001 16.52 7.5 16.26 7.5 16C7.5 15.87 7.52999 15.74 7.57999 15.62C7.62999 15.5 7.70001 15.39 7.79001 15.29C7.89001 15.2 7.99 15.13 8.12 15.08C8.49 14.92 8.92999 15.01 9.20999 15.29C9.29999 15.39 9.37001 15.5 9.42001 15.62C9.47001 15.74 9.5 15.87 9.5 16C9.5 16.26 9.38999 16.52 9.20999 16.71C9.01999 16.89 8.76 17 8.5 17Z" fill="#667085"/>
                    <path d="M12.5 17C12.23 17 11.98 16.89 11.79 16.71C11.7 16.61 11.63 16.5 11.58 16.38C11.53 16.26 11.5 16.13 11.5 16C11.5 15.73 11.61 15.48 11.79 15.29C12.16 14.92 12.83 14.92 13.21 15.29C13.39 15.48 13.5 15.73 13.5 16C13.5 16.13 13.47 16.26 13.42 16.38C13.37 16.5 13.3 16.61 13.21 16.71C13.02 16.89 12.76 17 12.5 17Z" fill="#667085"/>
                    <path d="M16.5 17C16.24 17 15.98 16.89 15.79 16.71C15.61 16.52 15.5 16.27 15.5 16C15.5 15.73 15.61 15.48 15.79 15.29C16.17 14.92 16.84 14.92 17.21 15.29C17.25 15.34 17.29 15.39 17.33 15.45C17.37 15.5 17.4 15.56 17.42 15.62C17.45 15.68 17.47 15.74 17.48 15.8C17.49 15.87 17.5 15.94 17.5 16C17.5 16.26 17.39 16.52 17.21 16.71C17.02 16.89 16.76 17 16.5 17Z" fill="#667085"/>
                    </svg>                                       
                </span>
                <span class="page-side-bar-menu-item-text">
                  Change Password
                </span>
              </a>
              </li>
              <li class="page-side-bar-menu-item">
                <a href="/user/logout" class="page-side-bar-menu-item-link page-side-bar-menu-item-link-danger">
                <span class="page-side-bar-menu-item-icon">
                  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4" d="M13.74 2C14.21 2 14.6 2.38 14.6 2.86V21.15C14.6 21.62 14.22 22.01 13.74 22.01C7.84999 22.01 3.73999 17.9 3.73999 12.01C3.73999 6.12 7.85999 2 13.74 2Z" fill="#FF5555"/>
                    <path d="M21.04 11.54L18.2 8.68997C17.91 8.39997 17.43 8.39997 17.14 8.68997C16.85 8.97997 16.85 9.45997 17.14 9.74997L18.7 11.31H9.13C8.72 11.31 8.38 11.65 8.38 12.06C8.38 12.47 8.72 12.81 9.13 12.81H18.7L17.14 14.37C16.85 14.66 16.85 15.14 17.14 15.43C17.29 15.58 17.48 15.65 17.67 15.65C17.86 15.65 18.05 15.58 18.2 15.43L21.04 12.58C21.33 12.3 21.33 11.83 21.04 11.54Z" fill="#FF5555"/>
                    </svg>                                       
                </span>
                <span class="page-side-bar-menu-item-text">
                  Logout
                </span>
              </a>
              </li>
            </ul>
          </div>
        </section>