@media only screen and (max-width: 600px) {
  .main-discover-content-section {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .mast-image-container {
    display: none !important;
  }
  .centered-mast-content {
    justify-content:flex-start !important;
  }
  .centered-mast-filter-controls {
    flex-direction: column;
    width: 100%;
  }
  .app-input-product-name {
    width: 100%;
    box-sizing:border-box;
  }
  .app-input-search {
    width: 100%;
    box-sizing:border-box;
  }
  .top-brands-images {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    row-gap: 10px;
  }
  .top-brands-section {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .display-products {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    column-gap: 7px !important;
    row-gap: 7px !important;
}
  .display-product {
    padding: 37px 11px 16.5px 11px !important;
    border: 1px solid var(--page-grey-accented);
    box-sizing: border-box;
}
  .display-product-image-container  {
    height: 105px !important;
  }
  .display-product-action-text {
    font: var(--text-primary-xs) !important;
    font-weight: var(--primary-font-semibold);
    color: var(--page-blue);
}
  .display-product-action-icon {
    height: 16px !important;
    width: 16px;
}
  .display-product-action-icon svg {
    height: 16px;
}
  .display-product-name {
    font-size: 8.96px !important;
    font-family: var(--tertiary-font);
}
  .pagination-item {
    height: 26px !important;
    width: 26px !important;
}
  .pagination-container {
    padding-top: 47px !important;
  }
  .pagination-item-link {
    font-size: 7.89px !important;
  }
  .dialog-container {
    width: 100% !important;
  }
.page-sidebar {
  display: none;
}

  .centered-mast-heading {
    font-size: 24px !important;
    line-height: 29.05px !important;
  }
}