{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set class = [
    'page-form-group',
  ]
%}
 
<form{{ attributes.addClass(classes) }}>
  {{ children }}

  <div class="page-form-footer">
    <div class="page-form-footer-links">
      <a href="/user/register" class="page-form-footer-link">Don't have an account?</a>
      <a href="/user/register" class="page-form-footer-link footer-link-primary">Sign Up</a>
    </div>

    <div class="page-form-footer-links">
      <a href="/user/password" class="page-form-footer-link">Forgot password?</a>
      <a href="/user/password" class="page-form-footer-link footer-link-primary">Reset</a>
    </div>
    
  </div>
</form>
