{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
 {%
 set classes = [
    'app-table-container',
 ]
 %}
<form{{ attributes.addClass(classes) }}>
  <div class="app-table-heading">
    <div class="app-table-heading-row">
        <div class="app-table-heading-column app-table-column col-one">Product</div>
        <div class="app-table-heading-column app-table-column col-two">Price</div>
        <div class="app-table-heading-column app-table-column col-three">Brand Name</div>
        <div class="app-table-heading-column app-table-column col-four"></div>
    </div>
  </div>
  {{ children }}
</form>
